<div class="empdetails-div">
  <p class="emp-text">Employee Information</p>
  <amexio-card [header]="false" [footer]="true" [footer-align]="'left'" [header-align]="'left'"
    style="align-items: center;" *ngFor="let data of empData">
    
    <amexio-body>
      <amexio-label size="24px">
        <p><b>Employee Id    :   </b>{{data.id}}</p>
        <p><b>First Name  :    </b>{{data.firstName}}</p>
        <p><b>Last Name  :    </b>{{data.lastName}}</p>
        <p><b>Email  :    </b>{{data.email}} </p>
        <p><b>Address  :    </b>{{data.address}}</p>
      </amexio-label>
    </amexio-body>
    <hr><br>
    <hr>
    <amexio-action>
      <button type="button" class="btn btn-primary" (click)="goToEmpList()"><b>Go Back To Employee List</b></button>
    </amexio-action>
  </amexio-card>
</div>