
<h3 class="employee-list-text">Employee List </h3>

<div class="employee-list-table">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Sr No.</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th>Action</th>
    
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of employeeList; index as i">
    <th scope="row">{{ i + 1 }}</th>
   
    <td>{{data.firstName}}</td>
    <td>{{data.lastName}}</td>
    
    <button type="button" class="btn btn-danger" (click)="deleteEmployee(data.id)">delete</button>
    <button type="button" class="btn btn-primary" (click)="employeeDetails(data.id)" >view info</button>
  </tr>
  </tbody>
</table>

</div>